################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SourceCode/.vs/
/SourceCode/ExampleDLLProjectForUnitTesting/bin/Debug
/SourceCode/ExampleDLLProjectForUnitTesting/obj/Debug
/SourceCode/UnitTestProject/bin/Debug
/SourceCode/UnitTestProject/obj/Debug
